.forgotProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.forgotProfileBox {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  width: 30vmax;
  padding: 2vmax;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.forgotProfileHeading {
  text-align: center;
}

.forgotProfileForm {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
}

.forgotProfileEmail {
  display: flex;
  align-items: center;
  gap: 1vmax;
}

.forgotProfileEmail input {
  flex: 1;
  padding: 0.6vmax;
}

.forgotProfileBtn {
  padding: 0.7vmax;
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
}
