/* Footer.css */

.footer {
  background-color: #011a20;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e7eb;
  color: white;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-logo-section {
  flex: 1 1 250px;
}

.footer-logo-section img {
  height: 40px;
  object-fit: contain;
}

.footer-logo-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #ccc;
}

.footer-links-section {
  flex: 1 1 150px;
}

.footer-links-section p {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.footer-links-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links-section li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  color: #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.footer-links-section li i {
  margin-right: 8px;
}

.footer-links-section li:hover {
  color: #e54016;
}

.footer-lower {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  padding-top: 1.5rem;
  font-size: 0.85rem;
  color: #aaa;
}

.footer-lower-links {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.footer-lower-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.footer-lower-links a:hover {
  color: #e54016;
}
