.updatePasswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.updatePasswordForm {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  width: 30vmax;
  padding: 2vmax;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.updatePasswordForm h2 {
  text-align: center;
}

.updateBtn {
  padding: 0.7vmax;
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
}
